* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    background-color: crimson;
}

nav {
    background-color: #7a0636;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 1000;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
    background-color: #7a0636;
}

.navigation {
    background-color: #7a0636;
    display: flex;
    flex-direction: row;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #7a0636;

}

.wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.splash {
    position: relative;
    padding: 20px;
    border: 1.5px solid #aaa;
    text-align: center;
    background-image: url("assets/images/marvel_background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vw;
    box-sizing: border-box;
}

.splashContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    border: none;
    color: white;
    background-color: rgba(11, 46, 201, 0.4);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.full {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 10vw;
    box-sizing: border-box;
    background-color: #a8a9fc;
    align-content: center;
    justify-content: center;
}

.full p {
    display: flex;
    margin: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #584595;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap; 
    margin: 50px;
    padding: 10px;
    background-color: #a8a9fc;
    box-sizing: border-box;
    min-width: 250px;
    width: 400px;
    align-items: center;
    text-align: center; 
    border-radius: 30px;
}

.imgBox {
    display: flex;
    flex-direction: column;
    background-color: #a8a9fc;
    height: fit-content;
    width: fit-content;
    align-self: center;
    margin-bottom: 15px;
    border: #aaa 2px solid;
    border-radius: 20px;
}

.imgBox img {
    height: 300px;
    width: fit-content;
    border-radius: 20px;
}

footer {
    text-align: center;
    background-color: #7a0636;
    color: white;
    display: flex;
    flex-direction: column;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
}
